html {
  height: 100%;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
}
#displayMeal h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}
#displayMeal img {
  display: flex;
  justify-content: center;
  max-width: 300px;
  border: 3px;
  border-radius: 25px;
}
#displayMeal ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#displayMeal button{
	display: flex;
	align-items: flex-end;
	height:  20px;
	width:  40px;
}