html {
  height: 100%;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  font-family: sans-serif;
}
#displayMeal h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
}
#displayMeal img {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin:  auto;
  border: 3px;
  border-radius: 25px;
}
#displayMeal ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#displayMeal button{
	height:  40px;
	width:  80px;
	border-radius: 5px;
	font-size: 15px;
	color: red;
}